@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

:root {
  /* Set neon color */
  --normalPadding: 2%;
}

* {
  box-sizing: border-box;
}

*,
html,
body,
#root {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #2eff00;
  min-height: 100vh;
  z-index: -2;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a.visited {
  color: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.tag_button {
  border: 2px solid black;
  padding: 5px;
  margin-right: 5px;
  background-color: white;
}
.tag_button.active {
  background-color: greenyellow;
}
.tag_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--normalPadding);
}
.post_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--normalPadding);
}
.post_card {
  position: relative;
  border: 2px solid black;
  flex-grow: 1;
  min-height: 600px;
  max-width: 100%;
  min-width: 300px;
}
.post_card img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post_card .details h3 {
  border: 2px solid black;
  color: black;
  padding: 5px;
  margin: 5px;
  background-color: white;
}
.post_card .details {
  position: absolute;
  z-index: 999;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_container img {
  max-height: 100px;
  position: absolute;
  z-index: -1;
}
.logo_container p {
  white-space: nowrap;
}

.standard-button {
  font-weight: 200;
  color: black;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  margin: 7px;
  font-family: "Pathway Gothic One", sans-serif;
}

.headline,
.mainImage {
  padding: var(--normalPadding);
}
