@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

:root {
  /* Set neon color */
  --normalPadding: 2%;
}

* {
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
}

*,
html,
body,
#root {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #2eff00;
  min-height: 100vh;
  z-index: -2;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  transform: translateZ(0);
}

p {
  font-size: 20px;
}
h3 {
  font-size: 25px;
  color: black;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

a {
  text-decoration: none;
  font-size: 20px;
}
a.visited {
  color: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.standard-button {
  font-weight: 200;
  font-size: 23px;
  color: black;
  padding: 5px 20px 5px 20px;
  border: 2px solid black;
  border-radius: 25px;
  font-family: "Pathway Gothic One", sans-serif;
}

.tag_button {
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.tag_button.active {
  border: 2px solid white;
}

.headline,
.mainImage {
  padding-left: var(--normalPadding);
  padding-right: var(--normalPadding);
  margin: 0;
}

.mainContainer {
  padding-top: 100px;
  min-height: 90vh;
}

/* frontpage grids */

/* tags */

.tag_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: flex-start;
  padding-left: var(--normalPadding);
  padding-top: var(--normalPadding);
}

/* posts */

.post_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--normalPadding);
  position: relative;
}
.post_card {
  position: relative;
  height: auto;
}
.post_card_image {
  object-fit: cover;
  width: 100%;
}

.post_card_overlay {
  position: absolute;
  z-index: 99;
  padding: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  justify-items: space-between;
}

.tag {
  margin-right: 5px;
}
.recap {
  padding-top: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--normalPadding);
}

.logo_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-height: 100px;
}
.logo_container img {
  position: absolute;
  z-index: -1;
}
.logo_container p {
  white-space: nowrap;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--normalPadding);
  margin-top: 100px;
}
.projectList-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectList-item div {
  flex-grow: 1;
  text-align: left;
}
.projectList-item .categories {
  margin-right: 20%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
.projectList-item .categories a {
  width: auto;
  position: relative;
}

.thumbnail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  z-index: -99;
}

/* masonry */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  padding: var(--normalPadding);
}
.my-masonry-grid_column {
  padding-right: 15px;
  background-clip: padding-box;
}
.my-masonry-grid_column:last-of-type {
  padding-right: 0px;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 15px;
}

/* footer */

footer {
  min-height: 50vh;
  background-color: blue;
  padding: var(--normalPadding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_link_column {
  margin-right: 50px;
  margin-bottom: 50px;
}

.footer_link_column p:first-child {
  margin-bottom: 25px;
}
.social_media_icon {
  height: 35px;
  object-fit: contain;
}

@media only screen and (max-width: 700px) {
  .to-column {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
