@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

:root {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

* {
  box-sizing: border-box;
}

*,
html,
body,
#root {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #2eff00;
  min-height: 100vh;
  z-index: -2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a.visited {
  color: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.tag_button {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  background-color: white;
}
.tag_button.active {
  background-color: greenyellow;
}
.post_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post_card {
  position: relative;
  border: 2px solid black;
  flex-grow: -1;
  width: 33%;
  min-height: 600px;
  max-width: 100%;
  min-width: 300px;
}
.post_card img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post_card .details h3 {
  border: 2px solid black;
  color: black;
  padding: 5px;
  margin: 5px;
  background-color: white;
}
.post_card .details {
  position: absolute;
  z-index: 999;
}

nav {
  flex-grow: 1;
  z-index: 9999999999;
  max-width: 450px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.fixed-left-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.fixed-right-top {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.tiny {
  max-height: 92px;
  margin-bottom: -10px;
}
.tiny:last-child {
  margin-left: -30px;
}

.standard-button {
  font-weight: 200;
  color: black;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  margin: 7px;
  font-family: "Pathway Gothic One", sans-serif;
}

.arrow {
  position: absolute;
  right: 0;
  top: 23px;
  transform: scaleX(-1);
  height: 80px;
}
